hr {
    margin: 0;
}

.footer {
    background-color: var(--white);
    padding: 1em;
}

.footer__list {
    display: none;
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }

    .footer__title {
        font-size: 24px;
    }

    .footer__list {
        display: block;
    }

    .footer-list__title {
        color: var(--light-gray);
        font-size: 14px;
        margin-bottom: 2em;
    }

    .footer-list__item {
        align-items: center;
        display: flex;
        margin: 0.6em 0;
    }

    .footer-list__link {
        color: var(--gray);
        margin-left: 0.6em;
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .footer {
        padding: 3em 0;
    }

    .footer__list {
        border-left: 1px solid var(--light-gray);
        padding-left: 1em;
    }
}