.header {
    align-items: center;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
}

.header__menu {
    background-image: url(../img/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.container {
    align-items: center;
    display: flex;
}

.container__img {
    padding: 1em;
}